*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

@font-face {
  font-family: myFirstFont;
  src: url(./../fonts/gilroy-light.otf);
}

@font-face {
  font-family: mySecondFont;
  src: url(./../fonts/AbrilFatface-Regular.otf);
}

/*start navbar*/
body{
	font-family: myFirstFont;
	color: #fff;
	background-image: url(./../images/pptbackgrounddarkblue-090928164600-phpapp01-thumbnail-4.jpg);
	background-repeat: none;

	/*background: radial-gradient(rgba(43,55,96,1), rgba(11,16,35,1));*/
}


/*end navbar*/


/*start of header*/
#header {
/*	background-image: url(./../images/header-pic.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
	min-height: 100vh;
}

#header h1 {
	color: #fff;
	font: 70px 'Great Vibes', Helvetica, sans-serif;
/*  	color: #fff;*/
 	text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
}

#header .btn {
	color: #fff;
}

.hero {
	overflow: hidden;
	height: 500px;
	align-self: center;
	/*justify-self: center;*/
	display: flex;
}

.hero img {
	padding-top: 5rem; 
	height: 450px;
	width: 150px;
	transition: transition 0.4s ease out;
	cursor: pointer;
}


.model-right {
	transform: translate(0%, 10%); 
}

.model-left {
	transform: translate(0%, -10%);
}


.hero:hover .model-right {
	transform: translate(0%, 0%);
}

.hero:hover .model-left {
	transform: translate(0%, 0%);
}

/*end of header*/

/*start of about*/
#about {
	height: 100vh;
}

#about h1 {
	font-weight: bold;
}

#about hr.half-width{
	width: 50%;
	margin: 0 auto;
	background-color: white;
}

#about img {
	height: 10rem;
	width: auto;
	border-radius: 50%;
}
/*end of about*/

/*start of project*/
#project {
	min-height: 100vh;
}

.portfolio-item {
	font-family: myFirstFont;
	color: #fff;
	background-image:url(./../images/milky-way-2695569_960_720.jpg); 
	/*radial-gradient(rgba(43,55,96,1), rgba(11,16,35,1));*/

}

/*.showcase {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 .5rem;
    width: 90%;
}
*/
/*.showcase .overlay {
    background-color: rgba(242,202,2,.2);
    border-radius: 10px;
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 10;
    transition: opacity .3s ease;
}*/

.showcase .badge {
    border: 1px solid #fff;
    border-radius: 15px;
    font-size: .65rem;
    letter-spacing: 1.2px;
    padding: .25rem .5rem;
    margin-right: .25rem;
    margin-bottom: .25rem;
    text-transform: uppercase;
    transition: .4s ease;
}



.view {
    display: block;
    margin: 0;
    text-align: center;
    transform: scale(.9);
}

.view:hover {
    background-color: white;
    font-weight: bold;
}

.ripple {
    background-position: center;
    transition: background .8s;
}

.btn {
    background: rgba(0,0,0,0);
    border: 2px solid #fff;
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    font-family: gilroyextrabold;
    font-size: .82rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 15px 40px;
    letter-spacing: 1.2px;
    text-decoration: none;
    text-transform: uppercase;
    transition: ease .4s;
}

.showcase figure img {
	  max-width: 90%;
    min-width: 300px;
    height: auto;
}

/*.showcase figure a:hover {
	background-color: red;
}*/

#project h1 {
	font-weight: bold;
}


#project hr.half-width{
	width: 50%;
	margin: 0 auto;
	background-color: white;
}
/*end of project*/

/*start of skills*/
#skills {
	height: 100vh; 
}

#skills img {
	height: 6rem;
	width: auto;
}

#skills hr.half-width{
	width: 50%;
	margin: 0 auto;
	background-color: white;
}

/*end of skills*/

/*start of get in touch*/
#get-in-touch {
	min-height: 100vh;
}

#get-in-touch .fas {
	font-size: 2rem;
}

#get-in-touch a:hover {
	color: black;
	font-weight: bold;
	background-color: white;
	border: white;
}

#get-in-touch hr.half-width{
	width: 50%;
	margin: 0 auto;
	background-color: white;
	border: none;
}

/*end of get in touch*/

/*start of footer*/
/*#footer {
	background-color: lightgray;
	min-height: 50vh;
}*/
/*end of footer*/


/*start of media query*/

/* start of mobile size*/
@media all and (max-width: 500px) {
	#project img {
		height: 8rem;
		width: auto;
	}

	#skills img {
		height: 5rem;
		width: auto;
	}
}

/* end of mobile size*/





/*end of media query*/

